.container {
  fill: #fff;
  opacity: 0;
  stroke: #fff;
}

.path {
  cursor: pointer;
  fill: #000;
  opacity: 0;
  stroke: #000;
  stroke-width: 2;
}

.text {
  cursor: pointer;
  font-size: 17px !important;
  opacity: 0;
}

.inactive {
  cursor: default;
}
