@red: red;
@blue: blue;
@black: #000;
@white: #FFF;

@grid-color: @black;
@link-color: #562E60;

@cell-bg: #E0F8E0;
@cell-highlight-bg: #DFEA49;
@cell-hover-bg: #c8dec8;
@cell-error-bg: @red;
@cell-selected-bg: #80cfcd;
@cell-selector-bg: #F3E2A9;

@easy-color: #008000;
@medium-color: #0000ff;
@hard-color: #A52A2A;
@expert-color: #000000;
@notes-color: @blue;
@penalty-color: #AE5050;
